<ion-header>
  <ion-navbar align-title="center">
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-list>
    <ion-card *ngFor="let event of events">
      <ion-item>
        <ion-avatar item-left>
          <img src="https://www.hellomagazine.com/imagenes/profiles/hugh-jackman/6020-hugh-jackman.jpg" />
        </ion-avatar>
        <h2>Josh Morony</h2>
        <p>{{event.date}}</p>
      </ion-item>
      <img src="{{event.image}}" />
      <ion-card-content>
        <ion-card-title>
          {{event.heading}}
        </ion-card-title>
        {{event.description}}
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-fab right bottom *ngIf="isAdmin">
    <button ion-fab color="dark" (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
