page-events {
    ion-card {
        border-radius: 6px !important;
    }
    h2 {
        color: #ffffff;
        font-size: 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        font-weight: lighter;
    }
    ion-col {
        margin: auto !important;
    }
    ion-card-content{
        text-align: left;
    }
}