<ion-header>
  <ion-navbar align-title="center">
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-list>
    <ion-card *ngFor="let event of events | sort: {property: column, order: order};let i = index">
      <ion-item>
        <ion-avatar item-left>
          <img src="http://download.seaicons.com/icons/paomedia/small-n-flat/128/profile-icon.png" />
        </ion-avatar>
        <h2>{{event.posted_by}}</h2>
        <p>{{event.date}}</p>
      </ion-item>
      <img *ngIf="event.image" src="{{event.image}}" />
      <ion-card-content>
        <ion-card-title>
          {{event.title}}
        </ion-card-title>
        <span style="white-space: pre-line">
          {{event.descr}}
        </span>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="toggleLike(event.id, i)">
            <ion-icon [name]="event.is_like == 1 ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'"></ion-icon>
            <div>{{event.likes}} Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{parseDate(event.post_date)}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-fab right bottom *ngIf="isAdmin">
    <button ion-fab color="dark" (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
